########################### NETWORKS
networks:
  default:
    driver: bridge
  socket_proxy:
    name: socket_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.14.0/24
  t3_proxy:
    name: t3_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.15.0/24
    external: true

########################### SECRETS
secrets:
  plex_claim:
    file: $DOCKERDIR/secrets/plex_claim

services:

  # Docker Socket Proxy - Security Enchanced Proxy for Docker Socket
  socket-proxy:
    container_name: socket-proxy
    image: lscr.io/linuxserver/socket-proxy:3.2.6-r0-ls57@sha256:7a462f90c5bc04c262e756310fcf564e670fa2ce8496fe8c3cd9945147b80ee3
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    profiles: ["core", "all"]
    networks:
      socket_proxy:
        ipv4_address: 192.168.14.254 # You can specify a static IP
    privileged: false # true for VM. False (default) for unprivileged LXC container.
    read_only: true
    tmpfs:
      - /run
    environment:
      - LOG_LEVEL=warning # debug,info,notice,warning,err,crit,alert,emerg
      - ALLOW_START=1 # Portainer
      - ALLOW_STOP=1 # Portainer
      - ALLOW_RESTARTS=1 # Portainer
      ## Granted by Default
      - EVENTS=1
      - PING=1
      - VERSION=1
      ## Revoked by Default
      # Security critical
      - AUTH=0
      - SECRETS=0
      - POST=1 # Watchtower
      # Not always needed
      - BUILD=0 - COMMIT=0 - CONFIGS=0 - CONTAINERS=1 # Traefik, portainer, etc. - DISTRIBUTION=0 - EXEC=0 - 
      - IMAGES=1 # Portainer - INFO=1 # Portainer - NETWORKS=1 # Portainer - NODES=0 - PLUGINS=0 - SERVICES=1 # 
      - Portainer - SESSION=0 - SWARM=0 - SYSTEM=0 - TASKS=1 # Portainer - VOLUMES=1 # Portainer - 
      - DISABLE_IPV6=0 #optional
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      
  agent:
    container_name: portainer_agent
    image: portainer/agent:2.37.0@sha256:bbe36b101908e18fec147d2fb833ea7ecfbc9021a08566c8ae0772029ca2eed8
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    profiles: ["core", "all"]
    networks:
      - default
      - socket_proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Use Docker Socket Proxy instead for improved security
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host
    ports:
      - $PORTAINER_AGENT_PORT:9001     # Agent API

  dozzle-agent:
    container_name: dozzle_agent
    image: amir20/dozzle:v8.14.12@sha256:0df89c904da71e94a0c9ed3c89a890f01488321b5f10ac1e0c0bedcead9af6e4
    restart: always
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - $DOZZLE_AGENT_PORT:7007


  ###### DOWNLOADERS

  # TransmissionBT - Torrent Downloader
  # ONLY ACCESSIBLE THROUGH https://domain.com/transmission/web/ if using PathPrefix
  # For Proxmox LXC Containers - https://pve.proxmox.com/wiki/OpenVPN_in_LXC
  transmission-vpn:
    container_name: transmission-vpn
    image: haugene/transmission-openvpn:5.3.2@sha256:ecc30da79114d801295fd10a5dbaf8640b19707d012fb55be0671ddbe0503037
    restart: always
    networks:
      t3_proxy:
        ipv4_address: 192.168.15.169
      socket_proxy:
    cap_add:
      - NET_ADMIN
    devices:
      # Explicitly pass the TUN device from the LXC to the Docker container
      - /dev/net/tun:/dev/net/tun
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - OPENVPN_PROVIDER=WINDSCRIBE
      - OPENVPN_USERNAME=$OPENVPN_USERNAME
      - OPENVPN_PASSWORD=$OPENVPN_PASSWORD
      - OPENVPN_CONFIG=Amsterdam-Tulip-tcp,Brussels-Guildhouse-tcp,Frankfurt-Wiener-tcp
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
      - LOCAL_NETWORK=192.168.5.0/24
#      LOCAL_NETWORK: "$LOCAL_NETWORK"
      - UMASK_SET=2
      - TRANSMISSION_RPC_AUTHENTICATION_REQUIRED="false"
      - TRANSMISSION_RPC_HOST_WHITELIST="127.0.0.1,$SERVER_IP"
      - TRANSMISSION_RPC_PASSWORD=$TRANSMISSION_RPC_PASSWORD
      - TRANSMISSION_RPC_USERNAME=$TRANSMISSION_RPC_USERNAME
      - TRANSMISSION_UMASK=002
      - TRANSMISSION_RATIO_LIMIT="0.0099"
      - TRANSMISSION_RATIO_LIMIT_ENABLED="true"
      - TRANSMISSION_ALT_SPEED_DOWN=40000
      - TRANSMISSION_ALT_SPEED_ENABLED="false"
      - TRANSMISSION_ALT_SPEED_UP=250
      - TRANSMISSION_SPEED_LIMIT_DOWN=80000
      - TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED="true"
      - TRANSMISSION_SPEED_LIMIT_UP=500
      - TRANSMISSION_SPEED_LIMIT_UP_ENABLED="true"
      - TRANSMISSION_INCOMPLETE_DIR=/data/downloads/incomplete
      - TRANSMISSION_INCOMPLETE_DIR_ENABLED="true"
      - TRANSMISSION_WATCH_DIR=/data/downloads
      - TRANSMISSION_WATCH_DIR_ENABLED="true"
      - TRANSMISSION_DOWNLOAD_DIR=/data/downloads
#      LOG_TO_STDOUT: "true"
      - DISABLE_PORT_UPDATER="true"
      - CREATE_TUN_DEVICE="false"
#      TRANSMISSION_WEB_HOME: '/'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $DOCKERDIR/appdata/transmission-vpn/data:/data
      - $DOCKERDIR/appdata/transmission-vpn/config:/config
      - $DATADIR/downloads:/data/downloads
    ports:
      - $TRANSMISSION_PORT:9091
      
  # Jackett
  jackett:
    container_name: jackett
    image: lscr.io/linuxserver/jackett:v0.24.134-ls185@sha256:963a593492f8f5bcb79ffb751ac60e258e7cd4e30441327e58638e75737e5f17
    restart: unless-stopped
    networks:
      t3_proxy:
        ipv4_address: 192.168.15.170
    depends_on:
      - transmission-vpn
    #network_mode: container:transmission-openvpn
    #security_opt:
    #  - no-new-privileges:true
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/jackett:/config
      - $DATADIR/downloads:/downloads
      - /etc/localtime:/etc/localtime:ro
      - $DOCKERDIR/shared:/shared
    ports:
      - $JACKETT_PORT:9117

  # Radarr
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:5.27.5.10198-ls284@sha256:f174546a0ad7eb9a9170e4142bef6f74ef3ebfe6209528fded40630369406dc0
    restart: unless-stopped
    networks:
      socket_proxy:
      t3_proxy:
        ipv4_address: 192.168.15.175
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $DOCKERDIR/appdata/radarr:/config
      - $DATADIR:/data
    ports:
      - $RADARR_PORT:7878

  # Sonarr
  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:4.0.15.2941-ls293@sha256:328d322af2bb8d7211a9c43a26ff5e658ba3e6f47a695e8fb9ff806bfeab0f04
    restart: unless-stopped
    networks:
      socket_proxy:
      t3_proxy:
        ipv4_address: 192.168.15.176
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $DOCKERDIR/appdata/sonarr:/config
      - $DATADIR:/data
    ports:
      - $SONARR_PORT:8989

  # Bazarr
  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:v1.5.3-ls322@sha256:750251d7dcf245d05ad6b2b0c39685282df43a8582875fa31ab2a9328af64e26
    restart: unless-stopped
    networks:
      socket_proxy:
      t3_proxy:
        ipv4_address: 192.168.15.177
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $DOCKERDIR/appdata/bazarr:/config
      - $DATADIR:/data
    ports:
      - $BAZARR_PORT:6767

  # Jellyfin
  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:10.10.7ubu2404-ls80@sha256:68e012f4bf5aeb114632e9045f5b2f2f6713536693093f70fcb338179f84f86c
    restart: unless-stopped
    networks:
      - socket_proxy
      - t3_proxy
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - JELLYFIN_PublishedServerUrl=https://jellyfin.kemeel.com #optional
    volumes:
      - $DOCKERDIR/appdata/jellyfin:/config
      - $DATADIR:/data
    #  - /path/to/movies:/data/movies
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    group_add:
      - video
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional

  # File Browser
  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser:v2.53.1@sha256:a22a0e9cddfd9a83e10a0d53453fb412e152693257065299a78481a75a8c90ce
    restart: unless-stopped
    networks:
      - socket_proxy
   #   - t3_proxy
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - FB_NOAUTH=true
    volumes:
      - /mnt:/srv
      - $DOCKERDIR/appdata/filebrowser/database:/database  
      - $DOCKERDIR/appdata/filebrowser/config:/config
    ports:
      - 8070:80

  # Guacamole remote desktop vnc
  guacamole:
    container_name: guacamole
    image: guacamole/guacamole:1.6.0@sha256:f344085e618bb05e22b964b0208dbd06d3468275bac70206f93805245e067b40
    restart: unless-stopped
    networks:
      - socket_proxy
    ports:
      - $GUACAMOLE_PORT:8080
    links:
      - guacd
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - MYSQL_DATABASE=guacamole
      - MYSQL_USERNAME=$GUACAMOLE_USERNAME_DB
      - MYSQL_PASSWORD=$GUACAMOLE_PASSWORD_DB
      - MYSQL_HOSTNAME=mariadb
      - GUACAMOLE_HOME=$DOCKERDIR/appdata/guacamole
      - GUACD_HOSTNAME=localhost
      - GUACS_PORT=4822

  # Guacamole deamon
  guacd:
    container_name: guacd
    image: guacamole/guacd:latest
    restart: unless-stopped
    networks:
      - socket_proxy
    environment:
      - LOG_LEVEL=debug


  ##### DATABASES

  # MariaDB - MySQL Database
  mariadb:
    container_name: mariadb
    image: linuxserver/mariadb:11.4.8@sha256:d3bbfa996d5c79dc87064d02fdae420bbf30f7cf171f58534c43c8c07a5ccbf4
    restart: unless-stopped
    networks:
      - socket_proxy
    ports:
      - 3306:3306
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/mariadb:/config
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
